extensions:
  health_check:

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:55681
  zipkin:

processors:
  memory_limiter:
      limit_mib: 100
      check_interval: 5s
  batch/traces:
    timeout: 10s
    send_batch_size: 50
  attributes:
    actions:
      - key: deployment.environment.name
        value: ${env:DWOLLA_ENV}
        action: insert
      - key: peer.service
        action: extract
        pattern: ^consul!(?P<peerservice>.*)$    # AFAICT using "peer.service" would be an illegal capture group name
      - key: peer.service
        action: update
        from_attribute: peerservice
      - key: peerservice
        action: delete
      - key: http.status_code # this is deprecated but X-Ray wants it; see https://aws-otel.github.io/docs/getting-started/x-ray#otel-span-http-attributes-translation
        action: insert
        from_attribute: http.response.status_code

exporters:
  awsxray:
    indexed_attributes: # see https://github.com/Dwolla/dwolla-otel-natchez/blob/dc1aa448d97a91f50ec52653b3e28d7fbf147f87/dwolla-xray-annotations/src/test/scala/com/dwolla/tracing/XRayAnnotationsSpec.scala#L27-L33
      - deployment.environment.name
      - otel.resource.deployment.environment.name
      - otel.resource.service.name
      - com.dwolla.client.account.id
      - com.dwolla.enduser.account.id
      - com.dwolla.transaction.id
      - com.dwolla.event-bus.message-handling-result

service:
  pipelines:
    traces:
      receivers:
        - otlp
        - zipkin
      processors:
        - memory_limiter
        - batch/traces
        - attributes
      exporters:
        - awsxray

  extensions:
    - health_check
